
/* give google maps some height */
html, 
body,
.container-fluid,
.row,
.col-md-9 {
	height: 100%
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.sidebar {
	padding: 20px;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}
